In [3]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("../data/spam.csv")

In [7]:
df.head()

  status                                                sms
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
df['status'] = df['status'].map({"spam":1,"ham":0})

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   status  5572 non-null   int64
 1   sms     5572 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [10]:
df['sms'].iloc[0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [12]:
from nltk.tokenize import wordpunct_tokenize

In [13]:
sample = df['sms'].iloc[0]

In [22]:
s = sample.lower()

In [34]:
tk = wordpunct_tokenize(s)

In [30]:
import nltk

In [24]:
from nltk.corpus import stopwords

In [31]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /Users/suraj/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [37]:
import string

In [46]:
puncts = string.punctuation
puncts

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [43]:
stops = stopwords.words('english')

In [49]:
tokens = []
for word in tk:
    if word not in stops and word not in puncts:
        print(word)
        tokens.append(word)

go
jurong
point
crazy
..
available
bugis
n
great
world
la
e
buffet
...
cine
got
amore
wat
...

In [50]:
tokens

['go',
 'jurong',
 'point',
 'crazy',
 '..',
 'available',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet',
 '...',
 'cine',
 'got',
 'amore',
 'wat',
 '...']

In [51]:
from nltk.stem.porter import PorterStemmer

In [52]:
stemmer = PorterStemmer()

In [54]:
for word in tokens:
    print(stemmer.stem(word))

go
jurong
point
crazi
..
avail
bugi
n
great
world
la
e
buffet
...
cine
got
amor
wat
...

In [79]:
from nltk.corpus import wordnet
def get_wordnet_pos(pos):
  if pos.startswith('J'):
    return wordnet.ADJ
  elif pos.startswith('V'):
    return wordnet.VERB
  elif pos.startswith('N'):
    return wordnet.NOUN
  elif pos.startswith("R"):
    return wordnet.ADV
  else:
    return wordnet.NOUN

In [74]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/suraj/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [75]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/suraj/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [76]:
word_tags = nltk.pos_tag(tokens)

In [77]:
lemm = WordNetLemmatizer()

In [87]:

for word,tag in word_tags:
    # print(word,tag)
    print(lemm.lemmatize(word,get_wordnet_pos(tag)))

go
jurong
point
crazy
..
available
bugis
n
great
world
la
e
buffet
...
cine
get
amore
wat
...

In [88]:
df.head()

   status                                                sms
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [96]:
# df.to_csv("../data/altered.csv",index=False)